.member-detail {
    max-width: 500px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}
.thumbnail img {
    width: 400px;
    height: 400px;
}

.thumbnail-c img {
    width: 400px;
    height: 400px;
}

.thumbnail-c img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.member-detail li {
    position: relative;
    margin-bottom: 30px;
}

.thumbnail{
    opacity:0;
    position: absolute;
    top: 40px;
    left: 0;
}

.thumbnail.loaded{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    opacity: 1;
}

.thumbnail-c{
    position: relative;
    top: 20px;
    left: 0;
    opacity: 1;
}

.thumbnail-c.removeLoaded{
    opacity:0;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

 @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 